.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition-duration: 0.5s;

    &-content {
        float: right;

        box-sizing: border-box;
        height: 100%;
        width: 30%; 
        padding: 40px;

        background-color: white;

        transition-duration: 0.5s;

        transform: translateX(100%);
    }

    &--shown {
        background-color: #00000066;

        .sidebar-content {
            transform: translateX(0);
        }
    }
}